* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #eaeaea;

  --drop-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  margin: 0 auto;
  padding: 0 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

/* Utility classes */
.flex {
  display: flex;
}

.content-center {
  justify-content: center;
}

.content-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.gap-sm {
  gap: 10px;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}
