* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #eaeaea;

  --drop-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  display: flex;
  justify-content: center;

  margin: 0;

  min-height: 100vh;
  width: 100vw;

  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  padding: 0 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 100%;
}

select {
  flex: 1;

  padding: 5px;
  height: 40px;

  border: 0.1px solid rgb(194, 194, 194);
  border-radius: 30px;
  cursor: pointer;

  font-size: 14px;
  box-shadow: var(--drop-shadow);
}

/* Nicer scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 50px;
  background: #ebebeb;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #bbbbbb;
}

/* Utility classes */
.flex {
  display: flex;
}

.content-center {
  justify-content: center;
}

.content-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.gap-sm {
  gap: 10px;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
